
body { 
  background-color: aliceblue;
}

#logoText {
  font-family: 'Vollkorn SC', serif;
  cursor: pointer;
}

h2 {
  color:blueviolet;
}

#logo {
  float: left;
  border-radius: 50%;
  max-width: 10%;
  max-height: 10%;
  cursor: pointer;
}

#menu {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  background-color: cornflowerblue;
  padding: 4px 0 4px 0;
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

#footer {
  position: absolute;
  bottom: 0;
}

a:hover {
  background-color: aqua;
  font-variant-caps: small-caps;
}

/* Login CSS */

#output {
  margin: 1em 0;
  color: black;
  background-color: #fee;
  padding: 1em;
  border: 1px solid #ddd;
}
fieldset {
  padding-top: 1em; 
}
.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}
/* Sets background color of focused fields to #fee (textArea not needed)*/
textArea:focus {
  background-color: #fee;
}
input:focus {
  background-color: #fee;
}
.value {
  margin: 0 0 0.5em 0;
}
#save {
  float: right;
}

#password {
  -webkit-text-security: disc;
}